# VS Code
.vscode/

# environnement virtuel du dossier
.venv/

# Autres environnements virtuels possibles
venv/

# Fichiers Python compilés, ppython cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook backups
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
*.parquet

data/interim/*
!data/interim/plan_colonnes_done.csv

# Logs
*.log

# MacOS / Windows fichiers système
.DS_Store
Thumbs.db

# Exports temporaires

*.html
*.pdf

